.amit
{
  width: 88%;
  margin-bottom: 6%;
  margin-left: 6%;
  margin-right: 6%;
  overflow:hidden;
  background-image: linear-gradient(to right, #0f2027,#203a43,#2c5364 );
  color: white;
  box-shadow: 36px 36px 36px rgb(36, 36, 36);
  border-radius: 36px;
  display: flex;
}

.ammit_img
{
  width: 40%;
  float: left;
  margin: auto;
  padding: 4%;
  border-radius: 36px;
  transition: transform 1s;
  border-radius: 36px;
  z-index: 1;
  transform: scale(1.03);  
}

.ammit_img img{
  width: 100%;
  border-radius: 36px;
}

.ammit_para {
  width: 60%;
  float: left;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 4%;
  margin-bottom: 3%;
  font-size: 1.5em;
  text-align: justify;
}

@media screen and (max-width: 768px) {
.ammit_para {
  font-size:12px;
}
.sonu_para {
  font-size:12px;
}
}

.sonu 
{
  width: 88%;
  /*margin:auto;*/
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 6%;
  margin-right: 6%;
  overflow:hidden;
  background-image: linear-gradient(to right, #0f2027,#203a43,#2c5364 );
  color: white;
  box-shadow: 36px 36px 36px rgb(36, 36, 36);
  border-radius: 36px;
  display: flex;
}

.sonu_img
{
  width: 40%;
  float: right;
  transition: transform 1s;
  margin: auto;
  padding: 4%;
  border-radius: 36px;
  z-index: 1;
  transform: scale(1.03);  
}

.sonu_img img{
  border-radius: 36px;
  width: 100%;
}

.sonu_para {
  width: 60%;
  float: left;
  padding: 4%;
  font-size: 1.5em;
  text-align: justify;
}

.abc img:hover
{
  transform: scale(1.05);
  transition: ease-in-out 1s;
}


.combined {
  display: flex;
  overflow: hidden;
  margin-bottom: 6%;
}

.combined img {
    width: 100%;
    transition: transform 1s;
    height: 50%;
    border-radius: 36px;
    z-index: -1;
    margin-bottom: 6%;
}

.columns {
  background: #252525 ;
  color: white;
  float: left;
  width: 30%;
  margin: 2%;
  overflow: hidden;
  border: solid;
  border-radius: 36px;
}

.columns p {
  text-align: justify;
  padding: 4%;
}

.columns img:hover {
  transform: scale(1.1);
}


@media  screen and (max-width:768px) {
  .amit
  {
    display: block;
  }

  .ammit_img
  {
    width: 100%;
  }

  .ammit_img img{
    width: 90%;
  }

  .ammit_para {
    width: 100%;
    font-size:12px;
  }

  .sonu 
  {
    display: block;
  }

  .sonu_img
  {
    width: 100%;
  }

  .sonu_img img{
    width: 90%;
  }

  .sonu_para {
    width: 100%;
    font-size:12px;
  }
}