{% extends 'navbar.html' %}
{% load static %}

{% block title_canvas %}
Competitive Programming Community
{% endblock %}

{% block content %}

  <div class="blocks">
    <h1>About ICCC2021</h1>
    <p>ICCC2021 ( Inter College Coding Competition 2021 )</p>
    <p>It is an Annual Coding Contest Organised by ICCC team ( now CP Comunity).</p>
    <p>It will be a 100 minutes contest.</p>
    <p>There will be six problem based on Data Structure and Algorithm.</p>
    <p>Students can see past problem on <a href="{% url 'iccc2020' %}" style="text-decoration: none;">ICCC2020</a>.</p>
    <p>It will be hosted on Codechef so it is mandatory to make Codechef ID before registering.</p>
    <p>Student can create their Codechef ID at <a href="https://www.codechef.com/signup"
        style="text-decoration: none;">Signup</a>.</p>
    <p>You can register yourself for the contest by clicking on the register tab in the navbar.</p>
  </div>


  <div class="blocks">
    <h1 style="text-align: center;">Winners of 2020</h1><br>
    <div class="winners">
      <div>
        1st Position<br>
        Vibhor Aggarwal<br>
        4th year<br>
        Batch: 2016-2020<br>
        Score : 360<br>
      </div>
      <div>
        2nd Position<br>
        Ritik Sharma<br>
        2nd year<br>
        Batch: 2018-2022<br>
        Score : 200<br>
      </div>

      <div>
        3rd Position<br>
        Rahul Daksh<br>
        1st year<br>
        Batch: 2017-2021<br>
        Score : 100<br>
      </div>
    </div>
  </div>


  <div class="blocks">
    <h1>Why CPC is created ?</h1>
    <ol style="padding-left: 2%;">
      <li>To select and prepare team members for the ICPC.</li>
      <li>To develop coding environment in our college.</li>
      <li>To aware students about coding competitions and coding sites ( Codeforces, Codechef etc. )</li>
      <li>To increase coding skills.</li>
      <li>To enhance problem solving ability.</li>
      <li>To remove code phobia.</li>
      <li>To create incubation environment for skilled developer.</li>
    </ol>
  </div>

  <div class="blocks">
    <h1>About ICCC2020</h1>
    <p>ICCC2020 ( Inter College Coding Competition 2020 )</p>
    <p>It was organised on 28 February 2021 , in IBM Lab.</p>
    <p>It will be a 100 minutes contest.</p>
    <p>There will be six problem based on Data Structure and Algorithm.</p>
    <p>It will be hosted on Codechef so it is mandatory to make Codechef ID before registering.</p>
    <p>Student can create their Codechef ID at <a href="https://www.codechef.com/signup"
        style="text-decoration: none;">Signup.</a> </p>
    <p>You can register yourself for the contest by clicking on the register tab in the navbar.</p>
  </div>


  <div class="blocks">
    <h1>Why CPC is created ?</h1>
    <ol style="padding-left: 2%;">
      <li>To select and prepare team members for the ICPC.</li>
      <li>To develop coding environment in our college.</li>
      <li>To aware students about coding competitions and coding sites ( Codeforces, Codechef etc. )</li>
      <li>To increase coding skills.</li>
      <li>To enhance problem solving ability.</li>
      <li>To remove code phobia.</li>
      <li>To create incubation environment for skilled developer.</li>
    </ol>
  </div>

  <div class="blocks">
    <h1>Rules and Regulation </h1>
    <ol style="padding-left: 2%;">
      <li>CPC is Competitive Programming Community. It is created to help students to get familiar with coding culture
        and interact with each other.</li>
      <li>At CPC, we consider that our environment plays a very important role in our actions, so we decided to create
        that coding environment in our college.</li>
      <li>Our college haven't qualified in ICPC regional ever , this is being our dream to qualify for ICPC regional
        round. With this aim , we decided to enhance coding culture in our college.</li>
      <li></li>
    </ol>
  </div>




  <div class="blocks">
    <h1>Why CPC is created ?</h1>
    <ol style="padding-left: 2%;">
      <li>CPC is Competitive Programming Community. It is created to help students to get familiar with coding culture
        and interact with each other.</li>
      <li>At CPC, we consider that our environment plays a very important role in our actions, so we decided to create
        that coding environment in our college.</li>
      <li>Our college haven't qualified in ICPC regional ever , this is being our dream to qualify for ICPC regional
        round. With this aim , we decided to enhance coding culture in our college.</li>
      <li></li>
    </ol>
  </div>

  {% endblock %}